header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../img/header-bg.png);
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header-menu a {
    display: block;
    padding: 16px 0px;
}

.header-content h1 {
    text-align: center;
    margin-bottom: 40px;
}

.header-content p+p {
    margin-top: 20px;
}

@media (min-width: 1300px) {
    header {
        height: 100vh;
    }
}

@media (max-width: 680px) {
    .header {
        flex-direction: column;
    }

    .header-menu {
        margin-top: 20px;
    }

    .header-menu a {
        background-color: var(--color-01);
        padding: 8px 12px;
        border-radius: 4px;
    }

    .header-menu a:hover {
        background-color: #2c2c2c;
    }
}

@media (max-width: 580px) {
    .header-menu {
        flex-wrap: wrap;
    }

}