:root {
    --color-00: #FFFFFF,
        --color-01: #3C3C3C,
        --color-02: #141414,
        --color-03: #000000,
        --color-p01: #2A0919,
        --color-p02: #7E1A4B,
        --color-p03: #7E6672,
        --color-p04: #83536A,
        --color-p05: #B18E9F,
}

.color-00 {
    color: var(--color-00);
}

.color-01 {
    color: var(--color-01);
}

.color-02 {
    color: var(--color-02);
}

.color-03 {
    color: var(--color-03);
}


.color-p01 {
    color: var(--color-p01);
}

.color-p02 {
    color: var(--color-p02);
}

.color-p03 {
    color: var(--color-p03);
}

.color-p04 {
    color: var(--color-p04);
}

.color-p05 {
    color: var(--color-p05);
}