.header-internal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bg {
    background: linear-gradient(var(--color-p05) 70%, var(--color-p01));
}

.main h1 {
    text-align: center;
    margin-bottom: 40px;
}

.infobar-1,
.infobar-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.infobar-1 p span {
    font-weight: 700;
}

.rate,
.infobar-1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.infobar-1 a {
    padding: 8px 12px;
}

.main-img {
    margin-bottom: 40px;
}

.infobar-2 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
    background: var(--color-p05);
    border-radius: 4px;
    background-color: var(--color-p03);
}

.infobar-2 li {
    display: flex;
    align-items: center;
}

.infobar-2 img {
    margin-right: 12px;
}

.main-galery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 20px 40px;
}

.main-recipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 40px;
}

.main-recipe h2,
.main-recipe h3 {
    margin-bottom: 20px;
}

.main-recipe ul {
    margin-bottom: 40px;
}


.main-recipe li {
    margin-bottom: 12px;
    margin-left: 20px;
    list-style: url(../../img/icons/dec-1.png);
}

@media (max-width: 800px) {
    .infobar-2 img {
        transform: scale(.9);
    }

    .main-galery {
        grid-template-columns: 1fr;
    }

    .main-galery img {
        margin: 0 auto;
    }

    .main-recipe {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px 20px;
        margin-bottom: 40px;
    }
}